@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1340px;
  padding: 0.5rem;
}

.wrapper-py-3 {
  padding: 3em 0;
}

.wrapper-p-3 {
  padding: 3em;
}

.no-padding {
  padding: 0;
}

.mt50 {
  margin-top: 50px;
}

.wrapper-flex-1 {
  flex-grow: 1;
}

@media (max-width: 1350px) {
  .wrapper {
    max-width: 100%;
  }
}

.transition-effect {
  transition: 0.3s ease-in-out;
}

.my-masonry-grid {
  display: flex;
  margin-left: -20px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 20px;
}
