@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1340px;
}

.wrapper-flex-1 {
  flex-grow: 1;
}

@media (max-width: 1350px) {
  .wrapper {
    max-width: 100%;
  }
}

.transition-effect {
  transition: 0.3s ease-in-out;
}
