@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1340px;
  padding: 0.5rem;
}

.no-padding {
  padding: 0;
}

.wrapper-flex-1 {
  flex-grow: 1;
}

@media (max-width: 1350px) {
  .wrapper {
    max-width: 100%;
  }
}

.transition-effect {
  transition: 0.3s ease-in-out;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000;
  font-size: 1.5rem;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #535252;
}

.swiper-button-next,
.swiper-button-prev {
  line-height: 30px;
}
